<form {{action 'create' this on='submit'}}>
  <p>
  {{input type="text" value=cnpj placeholder="CNPJ"}}
  </p>

  <p>
  {{input type="text" value=fantasy_name placeholder="Fantasy Name"}}
  </p>

  <p>
  {{input type="text" value=state_registration placeholder="I.E."}}
  </p>

  <p>
  {{input type="text" value=full_name placeholder="Full Name"}}
  </p>

  <p>
  {{input type="text" value=phone placeholder="Phone"}}
  </p>

  <p>
  {{input type="text" value=e_mail placeholder="E-mail"}}
  </p>

  <p>
  {{input type="text" value=address placeholder="Address"}}
  </p>

  <p>
  {{input type="text" value=transporter placeholder="Transporter"}}
  </p>

  <p>
  {{input type="text" value=password placeholder="Password"}}
  </p>

  <p><button>Send</button></p>
</form>

{{ outlet }}