<form {{action 'create' this on='submit'}}>
  <p>
  {{input type="text" value=cpf placeholder="CPF"}}
  </p>

  <p>
  {{input type="text" value=full_name placeholder="Full Name"}}
  </p>

  <p>
  {{input type="text" value=phone placeholder="Phone"}}
  </p>

  <p>
  {{input type="text" value=e_mail placeholder="E-mail"}}
  </p>

  <p>
  {{input type="text" value=address placeholder="Address"}}
  </p>

  <p>
  {{input type="password" value=password placeholder="Password"}}
  </p>


  <p><button>Send</button></p>
</form>

{{ outlet }}
